Flask==1.0.3
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
future==0.17.1
idna==2.8
isort==4.3.18
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
kiwisolver==1.1.0
lazy-object-proxy==1.3.1
nltk==3.4.3
python-telegram-bot==12.0.0
scikit-learn==0.21.2
scipy==1.3.0
six==1.12.0
sklearn==0.0
soupsieve==1.9.3
spacy==2.1.8
SQLAlchemy==1.2.19
sqlparse==0.3.0
srsly==0.1.0
temp==2019.4.13
termcolor==1.1.0
thinc==7.0.8
torch==1.1.0
torchvision==0.2.2.post3
tornado==6.0.3
tqdm==4.32.1
typed-ast==1.3.5
urllib3==1.25.2
virtualenv==16.6.0
virtualenvwrapper-win==1.2.5
wasabi==0.2.2
Werkzeug==0.15.4
wrapt==1.11.1
WTForms==2.2.1
